[Unit]
Description=Wings Bucha website
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/wings-bucha
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3000
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
